.dragpage {
  width: 100%;
  min-height: 86vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.conView {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: #111;
  border: 1px solid #4a0336;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #bebebe;
  flex-direction: column;
  font-family: 'Nunito', sans-serif;
  gap: 20px;
}

.msgbox {
  text-align: left;
  width: 90%;
  line-height: 90px;
  background-color: #171717;
  border-radius: 10px;
  padding-left: 10px;
}

#msg {
  padding-left: 15px;
}

.conAction {
  display: flex;
  flex-direction: row;
  gap: 185px;
  align-items: center;
  justify-content: center;
}

.conButton {
  background-color: #4a0336;
  --bs-btn-border-width: 0;
  --bs-btn-font-family: 'Nunito', sans-serif;
  --bs-btn-hover-bg: #360328;
  --bs-btn-active-bg: #24011a;
  font-size: 20px;
  padding: 8px 16px;
  position: relative;
  margin-right: 48px;
  margin-left: auto;
}

.msgbox {
  text-align: left;
  width: 90%;
  line-height: 90px;
  background-color: #171717;
  border-radius: 10px;
  padding-left: 10px;
  font-size: 25px;
}

#drop-area {
  width: 800px;
  height: 520px;
  padding: 50px;
  background: #171717;
  text-align: center;
  border-radius: 20px;
  border: 2px dashed #333;
  opacity: 0.8;
}

.img-view {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: #111;
}

.conSelect {
  position: relative;
  display: flex;
  width: 10em;
  height: 3.2em;
  border-radius: .25em;
  overflow: hidden;
}

.conSelect::after {
  content: '\25BC';
  color: #E2E2E2;
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  background-color: #151515;
  transition: .3s all ease;
  pointer-events: none;
}

.conSelect:hover::after {
  color: #4a0336;
}

.conSelect select {
  appearance: none;
  outline: 10px purple;
  border: 0;
  box-shadow: none;
  flex: 1;
  padding: 0 1em;
  color: #a1a1a1;
  background-color: #171717;
  background-image: none;
  cursor: pointer;
}

.conSelect select::-ms-expand {
  display: none;
}

.conSelect select::-webkit-scrollbar {
  width: 12px;
}

.conSelect select::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #95a5a6;
  border: 1px solid #cacaca;
}

.conSelect select::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #222;
}

/* //////////Error Message Code //////////////// */ 

.alert-simple.alert-warning {
  border: 1px solid rgba(136, 0, 0, 0.81);
  background-color: rgba(102, 0, 0, 0.16);
  box-shadow: 0px 0px 2px #550000;
  color: #ff3203;  
  text-shadow: 2px 1px #00040a;
  transition: 0.5s;
  cursor: default;
  padding: 12px;
}

.alert-warning:hover {
  background-color: rgba(102, 0, 0, 0.33);
  transition: 0.5s;
}

.alert:before {
  content: '';
  position: absolute;
  width: 0;
  height: calc(100% - 44px);
  border-left: 1px solid;
  border-right: 2px solid;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  height: 20px;
  border-color: #880000;
}


.conError {
  display: flex;
  padding-top: 15px;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
  margin-top: 270px;
  position: absolute;
  font-size: 14px;
}

.alert-dismissible {
  padding-right: 2rem; 
}

.conLoading {
  display: flex;
  padding-top: 15px;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
  margin-top: 270px;
  position: absolute;
  font-size: 14px;
}

.alert-simple.alert-info
{
  border: 1px solid rgba(6, 44, 241, 0.46);
  background-color: rgba(7, 73, 149, 0.12156862745098039);
  box-shadow: 0px 0px 2px #0396ff;
  color: #0396ff;
  text-shadow: 2px 1px #00040a;
  transition:0.5s;
  width: 250px;
  cursor: default;
}

.alert-info:hover
{
  background-color: rgba(7, 73, 149, 0.35);
  transition:0.5s;
}

.blue-cross
{
  font-size: 18px;
    color: #0bd2ff;
    text-shadow: none;
}

#dots {
    font-weight: bold;
    letter-spacing: 2px;
}

@media only screen and (max-width: 979px) {
  #drop-area{
    width: 700px;
    margin-left: 20px; 
  }

  .msgbox {
    font-size: 22px;
  }

}
@media only screen and (max-width: 767px) {
  #drop-area{
    width: 600px;
    margin-left: 20px;
  }

  .msgbox {
    font-size: 20px;
    line-height: 70px;
  }

  .conAction{
    gap: 95px;
  }

  .conError{
    font-size: 13px;
  }

  .conLoading{
    font-size: 13px;
  }

}

@media only screen and (max-width: 639px) {

  #drop-area{
    width: 450px;
    height: 50%;
    margin-left: 20px;
    padding: 40px;
  }

  .conView{
    padding: 85px 5px;
  }
  .conAction{
    gap: 40px;
    padding-left: 25px;
  }

  .msgbox {
    font-size: 15px;
    line-height: 50px;
  }

  .conSelect{
    font-size: 11px;
  }

  .conButton{
    font-size: 11px;
  }

  #msg {
    padding-left: 5px;
  }

  .conError{
    font-size: 9px;
    margin-top: 190px;
  }

  .conLoading{
    font-size: 9px;
    margin-top: 190px;
  }
  .alert-simple.alert-warning{
    padding: 10px 7px;
  }

}  


@media only screen and (max-width: 500px) {

  #drop-area{
    width: 350px;
    height: 30%;
    margin-left: 20px;
    
  }

  .msgbox {
    font-size: 12px;
  }

  .conSelect{
    font-size: 9px;
  }

  .conButton{
    font-size: 9px;
  }
  
}  


@media only screen and (max-width: 400px) {

  #drop-area{
    width: 290px;
    height: 20%;
    margin-left: 20px;
    padding: 30px 30px;
    
  }

  .msgbox {
    font-size: 10px;
  }

  .conSelect{
    font-size: 7px;
  }

  .conButton{
    font-size: 7px;
  }

  .conError{
    font-size: 8px;
    margin-top: 180px;
  }

  .conLoading{
    font-size: 8px;
    margin-top: 180px;
  }
}  