.passpage {
    width: 100%;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
}

.dropareapass {
    width: 75%;
    height: 550px;
    padding: 50px;
    background: #171717;
    text-align: center;
    border-radius: 20px;
    border: 2px dashed #333;
    opacity: 0.7;
    margin-top: 40px;
}

.imgviewpass {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: #111;
    border: 1px solid #494949;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.outputbx {
    height: 200px;
    width: 100%;
    padding: 0 30px;
    position: relative;
    align-items: center;
    align-content: center;
    text-align: left;
    border-radius: 10px;
    border-bottom: 1px solid #494949;
    cursor: pointer;
}

.outputpass {
    font-size: 30px;
    color: #fff;
    white-space: pre-wrap;

    word-wrap: break-word;
    font-family: 'Nunito', sans-serif;
}

.butto {
    position: absolute;
    align-items: center;
    left: auto;
    right: 20px;
    background-color: #494949;
    --bs-btn-border-width: 0;
    --bs-btn-font-family: 'Nunito', sans-serif;
    --bs-btn-hover-bg: #252525;
    --bs-btn-active-bg: #494949;
    font-size: 20px;
    padding: 8px 16px;
    color: #fff;
}


.tooltip {
    visibility: hidden;
    width: 110px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 12px 0;
    position: absolute; 
    z-index: 1;
    bottom: 103%;
    left: 50%;
    margin-left: -45px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 25px;
    
}

.tooltip::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -15px;
    border-width: 15px;
    border-style: solid;
    border-color: #222 transparent transparent transparent;
}

.show {
    visibility: visible;
    opacity: 1;
}

.passico {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23494949' stroke-linecap='round' stroke-linejoin='round' stroke-width='0.95' d='M12 10v4m-2-1l4-2m-4 0l4 2m-9-3v4m-2-1l4-2m-4 0l4 2m12-3v4m-2-1l4-2m-4 0l4 2'/%3E%3C/svg%3E");
    
}

.rangediv {
    display: flex;
    gap: 30px;
    width: 100%;
    padding-left: 50px;
    height: 60px;
    border-bottom: 1px solid #494949;
}

.range {
    margin-bottom: 40px;
}

.demo {
    font-size: 20px;
    color: #fff;
    position: relative;
    right: 10px;
    bottom: 5px;
    font-weight: bold;
}

.pl {
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    color: #fff;
    position: relative;
    bottom: 5px;
}

.formpass {
    height: 200px;
    
}



/*********** Baseline, reset styles ***********/
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 60%;
  }
  
  /* Removes default focus */
  input[type="range"]:focus {
    outline: none;
  }
  
  /******** Chrome, Safari, Opera and Edge Chromium styles ********/
  /* slider track */
  input[type="range"]::-webkit-slider-runnable-track {
    background-color: #bdbdbd;
    border-radius: 20px;
    height: 7px;
  }
  
  /* slider thumb */
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -4.5px; /* Centers thumb on the track */
    background-color: #494949;
    border-radius: 10rem;
    height: 1rem;
    width: 1rem;
  }
  

  
  /*********** Firefox styles ***********/
  /* slider track */
  input[type="range"]::-moz-range-track {
    background-color: #bdbdbd;
    border-radius: 20px;
    height: 7px;
  }
  
  /* slider thumb */
  input[type="range"]::-moz-range-thumb {
    background-color: #494949;
    border: none; /*Removes extra border that FF applies*/
    border-radius: 10rem;
    height: 1rem;
    width: 1rem;
  }

  .usediv {
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    gap: 85px;
  }

  .use {
    font-size: 25px;
    color: white;
    font-family: 'Nunito', sans-serif;
  }

  .checks {
    font-size: 18px;
    color: white;
    font-family: 'Nunito', sans-serif;
    display: flex;
    gap: 40px;
    accent-color: #494949;
    
  }

  .butto2 {
    background-color: #494949;
    --bs-btn-border-width: 0;
    --bs-btn-font-family: 'Nunito', sans-serif;
    --bs-btn-hover-bg: #252525;
    --bs-btn-active-bg: #494949;
    font-size: 20px;
    padding: 5px 16px;
    color: #fff;
    left: -15px;
    position: relative;
}

.checkss {
    width: 20px;
    height: 20px;
    border-radius: 70px;
    position: relative;
    top: 5px;
}




