.transpage{
    width: 100%;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#textbox{
    width: 1250px;
    height: 400px;
    background: transparent;
    border-radius: 10px;
    opacity: 0.7;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    gap: 20px;
}

.inputbox{
    width: 50%;
    height: 100%;
    resize: none;
    overflow:hidden;
    padding: 12px 18px;
    border-radius: 5px;
    font-size: 25px;
    font-family: 'Nunito', sans-serif; 
    outline: none;
    border: 2px solid #04135d;
    background-color: #111;
    color: #E2E2E2;
}

.outputbox{
    width: 50%;
    height: 100%;
    padding: 12px 18px;
    border-radius: 5px;
    font-size: 25px;
    font-family: 'Nunito', sans-serif;
    border: 2px solid #04135d;
    background-color: #111;
    color: #E2E2E2;
    display: inline-block;
    word-wrap: break-word;
}


.transbutt{
  position: absolute;
  bottom: 40px;
  right: 50px;

  background-color: #04135d;
  --bs-btn-border-width: 0;
  --bs-btn-font-family: 'Nunito', sans-serif;
  --bs-btn-hover-bg: #020c41;
  font-size: 25px;
  padding: 8px 16px;
  
}


.doc-forms {
    display: flex;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 15px;
    gap: 200px;
  }
  
  .sel {
    appearance: none;
    outline: 10px red;
    border: 0;
    box-shadow: none;
  
    flex: 1;
    padding: 0 1em;
    color: #a1a1a1;
    background-color: #111;
    background-image: none;
    cursor: pointer;
  }
  
  .sel::-ms-expand {
    display: none;
  }
  
  .seldiv {
    position: relative;
    display: flex;
    width: 24em;
    height: 3.2em;
    border-radius: .25em;
    overflow: hidden;
  }
  
  
  .seldiv::after {
    content: '\25BC';
    color: #E2E2E2;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    background-color: #151515;
    transition: .3s all ease;
    pointer-events: none;
  }
  
  .seldiv:hover::after {
    color: #04135d;
  }
  
  
  .sel::-webkit-scrollbar {
    width: 12px;
  }
  
  .sel::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #95a5a6;
    border: 1px solid #cacaca;
  }
  
  .sel::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #222;
  }


  .transform{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
  }

  
  .linkdiv{
    width: 260px;
    height: 60px;
    position: relative;
    font-size: 20px;
    margin-left: auto;
    margin-right: 160px;
    top: 20px;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    display: flex;
    padding: 10px;
    
    
    border: 1px solid #111;
    border-radius: .25em;
    
  
    

    & .doclink {
      color: #ccc;
    
      & .docico{
        display: inline-block;
        width: 2em;
        height: 2em;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 512 512'%3E%3Cpath fill='%2304135d' d='M428 224H288a48 48 0 0 1-48-48V36a4 4 0 0 0-4-4h-92a64 64 0 0 0-64 64v320a64 64 0 0 0 64 64h224a64 64 0 0 0 64-64V228a4 4 0 0 0-4-4'/%3E%3Cpath fill='%2304135d' d='M419.22 188.59L275.41 44.78a2 2 0 0 0-3.41 1.41V176a16 16 0 0 0 16 16h129.81a2 2 0 0 0 1.41-3.41'/%3E%3C/svg%3E");    } 
    }
  
  }