__pycache__/app.cpython-310.pyc
helpers/__pycache__/functions.cpython-310.pyc
helpers/__pycache__/convertion.cpython-310.pyc
helpers/__pycache__/password.cpython-310.pyc
helpers/__pycache__/qr.cpython-310.pyc