{% extends "layout.html" %}

{% block title %}
    Conversion
{% endblock %}

{% block main %}
    <form action="/conversion" method="post">
        <div class="mb-3">
            <label for="outputChoice" class="form-label">Select desired output:</label>
            <div class="input-group">
                <h2>{{ fileName }}<h2>
                <select class="form-select" id="outputChoice" name="choice" value = "convert">
                    <option disabled selected>Convert to</option>
                    {% for choice in outputChoices %}
                        <option value="{{ choice }}">{{ choice }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" name = "action" value = "convert">Convert</button>
    </form>
{% endblock %}
