{% extends "layout.html" %}

{% block title %}
    Image Filter 
{% endblock %}

{% block style %}<link href="../static/stylesheets/photo.css" rel="stylesheet">{% endblock %}

{% block nav %}

<a id="navitem" class="nav-link" href="/">Home</a>
<a id="navitem" class="nav-link" href="/upload">File Converter</a>
<a id="navitem" class="nav-link" href="/yt-to-mp3">Youtube Downloader</a>
<a id="navitem" class="nav-link active" aria-current="page" href="/image/upload">Photo Editor</a>
<a id="navitem" class="nav-link" href="/translation">Translator</a>
<a id="navitem" class="nav-link" href="/qrcode">QRcode Generator</a>
<a id="navitem" class="nav-link" href="/password-generator">Password Generator</a>

{% endblock %}


{% block main %}
    <form action="/image/filter" method="post" enctype="multipart/form-data" id="filterForm">
        <h2 style="display: none;" id="fileName" value="{{ fileName }}">{{ fileName }}</h2>
        <div class="topTabs">
            <button type="button" onclick="showBlock('filter')">
                Filter
            </button>
            <button type="button" onclick="showBlock('edit')">
               Edit
            </button> 
        </div> 
    
        <input id="operationChoice" name="operation" value="filter" style="display: none;">

        <div class="flexContainer">
            <div class="leftBoxes" id = "filterBlock" style="display: block;">
                <div id="outputChoice" name="choice" value="choice" onchange="toggleSlider()">
                    {% for choice in filters %}
                        <button value="{{ choice }}" name="choice" class="leftBoxesFilter">
                            <div id="{{ choice }}ICON"></div>
                            <br>
                            {{ choice }}
                        </button>
                    {% endfor %}
                </div>
                <label for="slider" id="sliderLabel" style="display: none;">Select a value:</label>
                <input type="range" class="form-control-range" id="slider" name="slider" min="0" max="5" value="5" style="display: none;">
                <output for="slider" id="sliderValue" class="mt-2 badge badge-primary" style="display: none;">50</output>
            </div>

            
            <div class="leftBoxes" id="editBlock" style="display: none;">
                <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
                <link href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css" rel="stylesheet">
                <button type="button" id="rotateClockwise"> 
                    <div id="rotateClockwiseICON" class="leftBoxesEdit"></div>
                    <br>
                </button>
                <button type="button" id="rotateCounterclockwise">
                    <div id="rotateCounterclockwiseICON" class="leftBoxesEdit"></div>
                    <br>
                </button>
                <button type="button" id="flipHorizontal">
                    <div id="flipHorizontalICON" class="leftBoxesEdit"></div>   
                    <br>
                </button>
                <button type="button" id="flipVertical">
                    <div id="flipVerticalICON" class="leftBoxesEdit"></div>   
                    <br>
                </button>
                <button type="button" id="dragCrop">
                    <img src="" alt="">
                    Crop Drag Mode
                </button>
                <button type="button" id="dragMove">
                    <img src="" alt="">
                    Move Drag Mode
                </button>
                <button type="button" id="dragNone">
                    <img src="" alt="">
                    None Drag Mode
                </button>    
                <input type="hidden" name="cropped_image" id="croppedImage">
                <input type="hidden" name="isCropped" id="isCropped" value="{{ isCropped }}">
            </div>

            <div id="imageContainer" class="theImg">
                <img id="img" src="{{ imgPath }}" alt="Uploaded Image">
            </div>


        </div>

        <div class="bottomBoxes" >
            <button type="submit" name="button" value="apply" id="applyFilter" style="display: block;" value="original">
                    Original
            </button>

            <button type="submit" name="button" value="apply" id="applyCrop" style="display: none;" onclick="applyCrop1()">Apply changes</button>
            <button type="submit" name="choice" value="download" id="downloadFilter" style="display: block;">Download</button>
            <button type="button" name="button" value="download" id="downloadCrop" style="display: none;">Download</button>
        </div>

    </form>

<script src="../static/image.js"> </script>
{% endblock %}
