{% extends "layout.html" %}

{% block title %}
Ultimate Toolbox 
{% endblock %}


{% block style %}<link href="/static/stylesheets/index.css" rel="stylesheet">{% endblock %}



{% block nav %}

<a id="navitem" class="nav-link active" aria-current="page" href="/">Home</a>
<a id="navitem" class="nav-link" href="/upload">File Converter</a>
<a id="navitem" class="nav-link" href="/yt-to-mp3">Youtube Downloader</a>
<a id="navitem" class="nav-link" href="#">Photo Editor</a>
<a id="navitem" class="nav-link" href="/translation">Translator</a>
<a id="navitem" class="nav-link" href="/qrcode">QRcode Generator</a>
<a id="navitem" class="nav-link" href="/password-generator">Password Generator</a>

{% endblock %}


{% block main %}

    <div class="ag-format-container">
        <div class="ag-courses_box">

              <div class="ag-courses_item">
                <a href="/yt-to-mp3" class="ag-courses-item_link">
                  <div class="ag-courses-item_bg"></div>
                    
                  <div class="card-icon i1"></div>
                  <div class="ag-courses-item_title">
                    Youtube Downloader
                  </div>
                  
                  <div class="card-description"><br>Convert and download videos and audio from Youtube</div>
                </a>
              </div>

              <div class="ag-courses_item">
                <a href="/upload" class="ag-courses-item_link">
                  <div class="ag-courses-item_bg"></div>

                  <div class="card-icon i2"></div>
          
                  <div class="ag-courses-item_title">
                    File Converter 
                  </div>

                  <div class="card-description">Convert files like images, documents, audio and more to other formats</div>
                </a>
              </div>

              <div class="ag-courses_item">
                <a href="#" class="ag-courses-item_link">
                  <div class="ag-courses-item_bg"></div>
          
                  <div class="card-icon i3"></div>
                  <div class="ag-courses-item_title">
                    Photo Editor
                  </div>

                  <div class="card-description"><br>Edit, crop, enhance, or add effects & filters to pictures</div>
                </a>
              </div>

              <div class="ag-courses_item">
                <a href="/translation" class="ag-courses-item_link">
                  <div class="ag-courses-item_bg"></div>
          
                  <div class="card-icon i4"></div>
                  <div class="ag-courses-item_title">
                    Translator
                  </div>

                  <div class="card-description">Translate words, phrases, and documents between English and over 100 other languages</div>
                </a>
              </div>

              <div class="ag-courses_item">
                <a href="/qrcode" class="ag-courses-item_link">
                  <div class="ag-courses-item_bg"></div>
                    
                  <div class="card-icon i5"></div>
                  <div class="ag-courses-item_title">
                    QRcode Generator
                  </div>

                  <div class="card-description"><br>Generate a QR code using any URL of your choice</div>
                </a>
              </div>

              <div class="ag-courses_item">
                <a href="/password-generator" class="ag-courses-item_link">
                  <div class="ag-courses-item_bg"></div>
                    
                  <div class="card-icon i6"></div>
                  <div class="ag-courses-item_title">
                    Password Generator
                  </div>

                  <div class="card-description">Create secure, strong, and randomly generated passwords for all your online accounts</div>
                </a>
              </div>
        </div>
    </div>

    

<!-- 
    <h1>haiaiiaiaiaiaiiaiaiaiaiaiai</h1>
    <a href="/upload">Go to Conversion</a>
    <br>
    <a href="/password-generator">Go to password generator</a>
    <br>
    <a href="/qrcode">Go to qrcode maker</a>
    <br>
    <a href="/yt-to-mp3">Go to URL to mp3</a>
    <br>
    <a href="/translation">Go to translate</a>
    <br> -->

{% endblock %}