{% extends "layout.html" %}

{% block title %}
    Password Generator
{% endblock %}

{% block style %}<link href="/static/stylesheets/password.css" rel="stylesheet">{% endblock %}

{% block nav %}

<a id="navitem" class="nav-link" href="/">Home</a>
<a id="navitem" class="nav-link" href="/upload">File Converter</a>
<a id="navitem" class="nav-link" href="/yt-to-mp3">Youtube Downloader</a>
<a id="navitem" class="nav-link" href="/image/upload">Photo Editor</a>
<a id="navitem" class="nav-link" href="/translation">Translator</a>
<a id="navitem" class="nav-link" href="/qrcode">QRcode Generator</a>
<a id="navitem" class="nav-link active" aria-current="page" href="/password-generator">Password Generator</a>

{% endblock %}

{% block main %}

    <div class="passpage">
        <div class="dropareapass">
            <div class="imgviewpass">
                <div class="outputbx" id="copy">
                {% if password %}
                        
                    <span class="outputpass">{{ password }} </span>
                    
                    <span id="tooltip" class="tooltip">Copied</span>
                
                {% elif passwordError %}
                    <div class="passowrdError">
                        <div class="alert fade alert-simple alert-warning alert-dismissible text-left font__family-montserrat font__size-16 font__weight-light brk-library-rendered rendered show"
                            role="alert" data-brk-library="component__alert">
                            <i class="fa-solid fa-triangle-exclamation" style="color: #ff3203;"></i>
                            <strong class="font__weight-semibold">{{ passwordError }}</strong>
                        </div>
                    </div>
                {% else %}



                <span class="passico"></span>

                {% endif %}
            </div>

                <div class="container inputdivs">
                    <form action="/password-generator" method="post" enctype="multipart/form-data" class="formpass" id="form">
                        <div class="rangediv">
                            <span class="pl">Password Length:</span>
                            <input class="range" autofocus autocomplete="off" name="length" placeholder="Password length" type="range" min="4" max="128" id="myRange">
                            <span id="demo" class="demo"></span>
                        </div>
                        

                            <div class="usediv">

                                <span class="use">Use: </span>
                                <span class="checks">
                                    <label for="upper" class="checktxt"><span class="checktxtdiv">Uppercase</span>
                                    <input type="checkbox" checked id="upper" name="upper" class="checkss">
                                </label>
                                    
                    
                                    <label for="lower" class="checktxt"><span class="checktxtdiv">Lowercase</span>
                                    <input type="checkbox" checked id="lower" name="lower" class="checkss">
                                </label>
                                
                                                
                                    <label for="nums" class="checktxt" ><span class="checktxtdiv">Digits</span>
                                    <input type="checkbox" checked id="nums" name="nums" class="checkss">
                                </label>
                                
                                                
                                    <label for="syms" class="checktxt"><span class="checktxtdiv">Symbols</span>
                                    <input type="checkbox" checked id="syms" name="syms" class="checkss">
                                </label>
                            </span>

                                <button type="submit" class="btn btn-primary butto2" name = "action" value = "generate">Generate</button>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}


{% block script %}<script src="../static/script/password.js"></script>{% endblock %}
