{% extends "layout.html" %}

{% block title %}
    Password Generator
{% endblock %}

{% block style %}<link href="/static/stylesheets/password.css" rel="stylesheet">{% endblock %}

{% block nav %}

<a id="navitem" class="nav-link" href="/">Home</a>
<a id="navitem" class="nav-link" href="/upload">File Converter</a>
<a id="navitem" class="nav-link" href="/yt-to-mp3">Youtube Downloader</a>
<a id="navitem" class="nav-link" href="#">Photo Editor</a>
<a id="navitem" class="nav-link" href="/translation">Translator</a>
<a id="navitem" class="nav-link" href="/qrcode">QRcode Generator</a>
<a id="navitem" class="nav-link active" aria-current="page" href="/password-generator">Password Generator</a>

{% endblock %}

{% block main %}

    <div class="passpage">
        <div class="dropareapass">
            <div class="imgviewpass">
                <div class="outputbx" id="copy">
                {% if password %}
                        
                    <span class="outputpass">{{ password }} </span>
                    
                    <span id="tooltip" class="tooltip">Copied</span>
                    
                {% else %}

                <span class="passico"></span>

                {% endif %}
            </div>

                <div class="container mt-5">
                    <form action="/password-generator" method="post" enctype="multipart/form-data" class="formpass" id="form">
                        <div class="rangediv">
                            <span class="pl">Password Length:</span>
                            <input class="range" autofocus autocomplete="off" name="length" placeholder="Password length" type="range" min="4" max="128" id="myRange">
                            <span id="demo" class="demo"></span>
                        </div>
                        

                            <div class="usediv">

                                <span class="use">Use: </span>
                                <span class="checks">
                                    <label for="upper">Uppercase
                                    <input type="checkbox" checked id="upper" name="upper" class="checkss">
                                </label>
                                    
                    
                                    <label for="lower">Lowercase
                                    <input type="checkbox" checked id="lower" name="lower" class="checkss">
                                </label>
                                
                                                
                                    <label for="nums" >Digits
                                    <input type="checkbox" checked id="nums" name="nums" class="checkss">
                                </label>
                                
                                                
                                    <label for="syms">Symbols
                                    <input type="checkbox" checked id="syms" name="syms" class="checkss">
                                </label>
                            </span>

                                <button type="submit" class="btn btn-primary butto2" name = "action" value = "generate">Generate</button>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
    

    <script>
        var slider = document.getElementById("myRange");
        var output = document.getElementById("demo");
        const form = document.getElementById("form");
        const upper = document.getElementById("upper");
        const lower = document.getElementById("lower");
        const nums = document.getElementById("nums");
        const syms = document.getElementById("syms");

        
        output.innerHTML = slider.value; // Display the default slider value

        // Update the current slider value (each time you drag the slider handle)
        slider.oninput = function() {
        output.innerHTML = this.value;
        }
        document.addEventListener("DOMContentLoaded", function() {
            let email =  "{{ password }}";
            // Select the button by its id
            document.getElementById('copy').addEventListener('click', function(){
                navigator.clipboard.writeText(email)
                const button = document.getElementById('copy');  
            });
        });
        // Set checkbox states based on saved values
        console.log("I am here");
        slider.value = localStorage.getItem('output', slider.value);
        output.innerHTML = localStorage.getItem('output', slider.value);
        console.log(slider.value);
        console.log(output.innerHTML);
        upper.checked = localStorage.getItem('upper') === 'true';
        lower.checked = localStorage.getItem('lower') === 'true';
        nums.checked = localStorage.getItem('nums') === 'true';
        syms.checked = localStorage.getItem('syms') === 'true';

        // Save values to localStorage on form submit
        form.addEventListener('submit', (event) => {
            console.log("I am there");
            localStorage.setItem('output', slider.value);
            console.log(localStorage.getItem("output"));
            localStorage.setItem('upper', upper.checked);
            localStorage.setItem('lower', lower.checked);
            localStorage.setItem('nums', nums.checked);
            localStorage.setItem('syms', syms.checked);
        });
    

        document.getElementById('copy').addEventListener('click', function() {
        var tooltip = document.getElementById('tooltip');
        tooltip.classList.add('show');
        setTimeout(function() {
            tooltip.classList.remove('show');
        }, 2000);
    });


        
    </script>

{% endblock %}
