{% extends "layout.html" %}

{% block title %}
    QRcode Generator 
{% endblock %}


{% block nav %}

<a id="navitem" class="nav-link" href="/">Home</a>
<a id="navitem" class="nav-link" href="/upload">File Converter</a>
<a id="navitem" class="nav-link" href="/yt-to-mp3">Youtube Converter</a>
<a id="navitem" class="nav-link" href="#">Photo Editor</a>
<a id="navitem" class="nav-link" href="/translation">Translator</a>
<a id="navitem" class="nav-link active" aria-current="page" href="/qrcode">QRcode Generator</a>
<a id="navitem" class="nav-link" href="/password-generator">Password Generator</a>

{% endblock %}


{% block main %}
    <div class="container mt-5">
        <form action="/qrcode" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <div class="input-group">
                    <input type="url" name="link" class="form-control" placeholder="Enter URL" autocomplete="off" autofocus required>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" name = "action">Generate</button>
        </form>
    </div>
    {% if qrcode %}

    <div class="container mt-5">
        <img src="{{ qrcode }}" alt="QR code">
        <button class="btn btn-primary" id="copy" onclick="downloadPNG()">Download QRcode</button>
    </div>

    {% endif %}
    <<script>
        function downloadPNG() {
            // Create an image element
            var img = new Image();
            // Set the source of the image
            img.src = "{{ qrcode }}";
            // Create a link element
            var link = document.createElement('a');
            // Set the href attribute of the link to the data URL of the image
            link.href = img.src;
            // Set the download attribute of the link to the file name
            link.download = "{{ filename }}"; 
            // Simulate a click on the link to trigger the download
            link.click();

            const button = document.getElementById('copy');
            button.style.backgroundColor = '#111';
        }
        </script>
{% endblock %}
