{% extends "layout.html" %}

{% block title %}
    QRcode Generator 
{% endblock %}

{% block style %} <link href="/static/stylesheets/qr.css" rel="stylesheet"> {% endblock %}


{% block nav %}
    
<a id="navitem" class="nav-link" href="/">Home</a>
<a id="navitem" class="nav-link" href="/upload">File Converter</a>
<a id="navitem" class="nav-link" href="/yt-to-mp3">Youtube Downloader</a>
<a id="navitem" class="nav-link" href="#">Photo Editor</a>
<a id="navitem" class="nav-link" href="/translation">Translator</a>
<a id="navitem" class="nav-link active" aria-current="page" href="/qrcode">QRcode Generator</a>
<a id="navitem" class="nav-link" href="/password-generator">Password Generator</a>

{% endblock %}


{% block main %}

    <div class="qrbody">

        <div class="urlform">
            <form action="/qrcode" method="post" enctype="multipart/form-data">
                    <div class="form__group field">
                        <input type="input" class="form__field" placeholder="Enter" name="link" id='link' required autocomplete="off" autofocus >
                        <label for="link" class="form__label">Enter</label>
                    </div>
                <button type="submit" class="btn btn-primary btndoc" name="action">Generate</button>
            </form>
        </div>



    <div class="imgdiv">

        <div class="innerImgDiv">
            <div class="imgviewqr">
            {% if qrcode %}
            <img src="{{ qrcode }}" alt="QR code" class="qrimg">
           
            {% endif %}
        </div>
        {% if qrcode %}
       
        <button class="btn btn-primary btndoc2" id="copy" onclick="downloadPNG()">Download</button>
        {% endif %}
    </div>
    
    </div>
        
    </div>

    <script>
        const button = document.getElementById('copy');

        function downloadPNG() 
        {
            // Create an image element
            var img = new Image();
            // Set the source of the image
            img.src = "{{ qrcode }}";
            // Create a link element
            var link = document.createElement('a');
            // Set the href attribute of the link to the data URL of the image
            link.href = img.src;
            // Set the download attribute of the link to the file name
            link.download = "{{ filename }}"; 
            // Simulate a click on the link to trigger the download
            link.click();
        }
    </script>
{% endblock %}
