{% extends "layout.html" %}

{% block title %}
Translator 
{% endblock %}


{% block style %}<link href="/static/stylesheets/translate.css" rel="stylesheet">{% endblock %}


{% block nav %}

<a id="navitem" class="nav-link" href="/">Home</a>
<a id="navitem" class="nav-link" href="/upload">File Converter</a>
<a id="navitem" class="nav-link" href="/yt-to-mp3">Youtube Downloader</a>
<a id="navitem" class="nav-link" href="#">Photo Editor</a>
<a id="navitem" class="nav-link active" aria-current="page" href="/translation">Translator</a>
<a id="navitem" class="nav-link" href="/qrcode">QRcode Generator</a>
<a id="navitem" class="nav-link" href="/password-generator">Password Generator</a>

{% endblock %}


{% block main %}



<div class="transpage">
    <form action="/translation" method="post" class="d-flex"> 


        <div class="doc-forms">
            <span class="seldiv">
            <select name="input_lang" required class="sel">
                <option selected disabled>Input language</option>
                <option value="detect"> detect language </option>
                {% for lang in langs %}
                    <option value="{{ lang }}" >{{ lang }}</option>
                {% endfor %}
            </select>
        </span>
        
            <span class="seldiv">
            <select name="output_lang" required class="sel">
                <option selected disabled>Output language</option>
                {% for lang in langs %}
                    <option value="{{ lang }}" >{{ lang }}</option>
                {% endfor %}
            </select>
        </span>
        </div>




        <label for="txt" id="textbox">
            <textarea name="input_txt" id="txt" placeholder="Enter" autofocus autocomplete="off" class="inputbox" wrap="soft" required></textarea>
            <span class="outputbox">{% if output %}  {{ output }}  {% endif %}</span> 
            
            <button type="submit" class="btn btn-primary ml-2" name="button">Enter</button>
    </label>


    
    </form>
</div>



<a href="/doc-translation">Translate documents</a>
{% endblock %}