{% extends "layout.html" %}

{% block title %}
Translator 
{% endblock %}


{% block style %}<link href="/static/stylesheets/translate.css" rel="stylesheet">{% endblock %}


{% block nav %}

<a id="navitem" class="nav-link" href="/">Home</a>
<a id="navitem" class="nav-link" href="/upload">File Converter</a>
<a id="navitem" class="nav-link" href="/yt-to-mp3">Youtube Downloader</a>
<a id="navitem" class="nav-link" href="#">Photo Editor</a>
<a id="navitem" class="nav-link active" aria-current="page" href="/translation">Translator</a>
<a id="navitem" class="nav-link" href="/qrcode">QRcode Generator</a>
<a id="navitem" class="nav-link" href="/password-generator">Password Generator</a>

{% endblock %}


{% block main %}




<div>
<div class="transpage">
    <form action="/translation" method="post" class="d-flex transform" id="form"> 


        <div class="doc-forms">
            <span class="seldiv">
            <select name="input_lang" required class="sel" id="selectIn">
                <option value="detect" selected> detect language (default) </option>
                {% for lang in langs %}
                    <option value="{{ lang }}" >{{ lang }}</option>
                {% endfor %}
            </select>
        </span>
        
            <span class="seldiv">
            <select name="output_lang" required class="sel" id="selectOut">
                <option selected disabled>Output language (required)</option>
                {% for lang in langs %}
                    <option value="{{ lang }}" >{{ lang }}</option>
                {% endfor %}
            </select>
        </span>
        </div>



        
        <label for="txt">
            <span id="textbox">
            <textarea name="input_txt" id="txt" autofocus autocomplete="off" class="inputbox" wrap="soft" required></textarea>
            <span class="outputbox">{% if output %}  {{ output }}  {% else %} <span class="translation">Translation</span> {% endif %} 
                <button type="submit" class="btn btn-primary ml-2 transbutt" name="button">Enter</button>
            </span> 
        </span>
            
            
    </label>
    
    </form>
</div>

<div class="linkdiv"> <a href="/doc-translation" class="doclink"><span class="docico"></span><span style="bottom: 10px;position: relative;left: 5px;">Translate documents</span></a> </div>


<script>
    const txt = document.getElementById("txt");
    const selectIn = document.getElementById("selectIn");
    const selectOut = document.getElementById("selectOut");
    const form = document.getElementById("form");


    // var input_txt = '{{input_txt}}';

    // if (input_txt) {
    //     txt.textContent = input_txt;
    // }

    // Save values to localStorage on form submit
    form.addEventListener('submit', (event) => {
        localStorage.setItem('txt', txt.value);
        localStorage.setItem('selectIn', selectIn.value);
        localStorage.setItem('selectOut', selectOut.value);
        console.log('Form submitted and values saved to localStorage');
    });

    // Load saved values from localStorage
    if (localStorage.getItem('txt')) {
        txt.value = localStorage.getItem('txt');
        console.log(localStorage.getItem('txt'));
    }

    if (localStorage.getItem('selectIn')) {
        selectIn.value = localStorage.getItem('selectIn');
        console.log(localStorage.getItem('selectIn'));
    }
    
    if (localStorage.getItem('selectOut')) {
        selectOut.value = localStorage.getItem('selectOut');
        console.log(localStorage.getItem('selectOut'));
    }

    // Clear localStorage on page reload
    window.addEventListener('load', () => {
        localStorage.removeItem('txt');
        localStorage.removeItem('selectIn');
    });
</script>

{% endblock %}