{% extends "layout.html" %}

{% block title %}
    URL
{% endblock %}

{% block style %}<link href="../static/stylesheets/yt.css" rel="stylesheet">{% endblock %}

{% block nav %}

<a id="navitem" class="nav-link" href="/">Home</a>
<a id="navitem" class="nav-link" href="/upload">File Converter</a>
<a id="navitem" class="nav-link active" aria-current="page" href="/yt-to-mp3">Youtube Downloader</a>
<a id="navitem" class="nav-link" href="#">Photo Editor</a>
<a id="navitem" class="nav-link" href="/translation">Translator</a>
<a id="navitem" class="nav-link" href="/qrcode">QRcode Generator</a>
<a id="navitem" class="nav-link" href="/password-generator">Password Generator</a>

{% endblock %}


{% block main %}
    <form class="ytURL" action="/yt-to-mp3" method="post" class="d-flex" onsubmit="showLoading()"> 
        <div class="form__group field">
            <input type="text" class="form__field" placeholder="Youtube URL" name="url" autocomplete="off" autofocus>
            <label for="link" class="form__label">Youtube URL</label>
        </div>
        <div class="ytChoices">
            <div class="ytRadio">
                <input label="Audio" type="radio" id="audio" name="type" value="Audio" checked>
                <input label="Video" type="radio" id="video" name="type" value="Video">
            </div>
            <div>
                <button type="submit" name="button" value="Enter" class="btn btn-primary ytButton">Convert</button>
            </div>
        </div>
    </form>

    {% if conversion %}
            <form action="/mp3-download" method="post" onsubmit="showLoading()" class="ytVideo">
                <div class="ytDownload">
                    <p name="url">{{ url }}</p>
                    <p><b>Title</b>: {{ title }}</p>
                    <p><b>Channel</b>: {{ author }}</p>
                    <p><b>Views</b>: {{ views }}</p>
                    <p><b>Duration</b>: {{ duration }}</p>
                    <p><b>Publish Date</b>: {{ publishDate }}</p>
                    <div class="ytSelect">
                        <select name="quality">
                            {% if fileType == "Audio" %}
                            <option selected disabled>Select an audio quality</option>
                                {% for as in audio_streams %}
                                    <option value="{{ as }}" >Bitrate: {{ as.abr }}, File Size: {{ "%0.2f" | format(as.filesize / (1024 * 1024) | float) }} MB</option>
                                {% endfor %}
                            {% else %}
                            <option selected disabled>Select a video quality</option>
                                {% for as in audio_streams %}
                                    <option value="{{ as }}" >Resolution: {{ as.resolution }}, File Size: {{ "%0.2f" | format(as.filesize / (1024 * 1024) | float) }} MB, FPS: {{ as.fps }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>  
                    </div>
                    <button type="submit" class="btn btn-primary ytButton" name="button" value="Download">Download</button>
                </div>
                <div class="ytImg">
                    <img src="{{ thumbnail_url }}" alt="Video Thumbnail">
                </div>
            </form>
    {% endif %}
    <div class="ytError">
        {% if error_message %}
            <div class="alert fade alert-simple alert-warning alert-dismissible text-left font__family-montserrat font__size-16 font__weight-light brk-library-rendered rendered show" role="alert" data-brk-library="component__alert">
            <i class="fa-solid fa-triangle-exclamation" style="color: #ff3203;"></i>
            <strong class="font__weight-semibold">{{ error_message }}</strong> 
            </div>
        {% endif %}
    </div>

    <div  id="loading-section-ytcon" style="display:none;">
        <strong class="font__weight-semibold">Loading...</strong>
        <div class="middle">
            <div class="bar bar1"></div>
            <div class="bar bar2"></div>
            <div class="bar bar3"></div>
            <div class="bar bar4"></div>
            <div class="bar bar5"></div>
            <div class="bar bar6"></div>
            <div class="bar bar7"></div>
            <div class="bar bar8"></div>
        </div>
    </div>

    
    <script>
        // Select the ytError div
        const errorDiv = document.querySelector('.ytError');

        // Show loading section when the form is submitted
        function showLoading(){
            document.getElementById('loading-section-ytcon').style.display = 'block';
            errorDiv.style.display = 'none';
        };

        // Add a click event listener
        errorDiv.addEventListener('click', function() {
            // Toggle the display property
            if (errorDiv.style.display === 'none') {
                errorDiv.style.display = 'block';
            } else {
                errorDiv.style.display = 'none';
            }
        });
        document.addEventListener('DOMContentLoaded', function() {
            // Check if there's a stored value for the 'type' radio button
            const storedType = sessionStorage.getItem('selectedType');
            if (storedType) {
                // Set the radio button based on the stored value
                document.querySelector(`input[name="type"][value="${storedType}"]`).checked = true;
            }

            // Add event listener to remember selected radio button
            const radioButtons = document.querySelectorAll('input[name="type"]');
            radioButtons.forEach(button => {
                button.addEventListener('change', function() {
                    if (this.checked) {
                        // Store the selected value in session storage
                        sessionStorage.setItem('selectedType', this.value);
                    }
                });
            });
        });
    </script>
{% endblock %}
