{% extends "layout.html" %}

{% block title %}
    Download
{% endblock %}


{% block nav %}

<a id="navitem" class="nav-link" href="/">Home</a>
<a id="navitem" class="nav-link" href="/upload">File Converter</a>
<a id="navitem" class="nav-link active" aria-current="page" href="/yt-to-mp3">Youtube Downloader</a>
<a id="navitem" class="nav-link" href="#">Photo Editor</a>
<a id="navitem" class="nav-link" href="/translation">Translator</a>
<a id="navitem" class="nav-link" href="/qrcode">QRcode Generator</a>
<a id="navitem" class="nav-link" href="/password-generator">Password Generator</a>

{% endblock %}


{% block main %}
<div class="container mt-5">
    <form action="/mp3-download" method="post" class="d-flex flex-column align-items-center">
        <h2 class="mb-4">Video Details</h2>
        <p class="mb-2" name="url">{{ url }}</p>
        <p class="mb-2">Title: {{ title }}</p>
        <p class="mb-2">Duration: {{ duration }}</p>
        <img src="{{ thumbnail_url }}" alt="Video Thumbnail" class="img-fluid mb-4" style="max-width: 150px; height: auto;">
        <h2 class="mb-3">Download</h2>
        <div class="form-group">
            <label for="quality">Choose Quality:</label>
            <select class="form-control" name="quality" required>
                {% if fileType == "Audio" %}
                <option selected disabled>Select an audio quality</option>
                    {% for as in audio_streams %}
                        <option value="{{ as }}" >Bitrate: {{ as.abr }}, File Size: {{ "%0.2f" | format(as.filesize / (1024 * 1024) | float) }} MB</option>
                    {% endfor %}
                {% else %}
                <option selected disabled>Select an video quality</option>
                    {% for as in audio_streams %}
                        <option value="{{ as }}" >Resolution: {{ as.resolution }}, File Size: {{ "%0.2f" | format(as.filesize / (1024 * 1024) | float) }} MB, FPS: {{ as.fps }}</option>
                    {% endfor %}
                {% endif %}
            </select>
        </div>        
        <button type="submit" class="btn btn-primary mt-2" name="button" value="Download">Download</button>
        <div class="container mt-3" id="loading-section" style="display:none;">
            <div class="alert alert-info" role="alert">
                Loading...
            </div>
        </div>
    </form>
</div>

{% endblock %}


{% block script %}<script src="../static/script/ytdownload.js"></script>{% endblock %}
